In [15]:
import pandas as pd
from scipy.stats import ttest_ind, levene

In [16]:
def scoreParser(s):
    return [float(i.split()[-1]) for i in s.strip().split('\n')]

In [17]:
oracle = scoreParser('''
compress                      iteration 1    240000         240000         2712.59        678.15
compress                      iteration 2    240000         240000         2709.13        677.28
compress                      iteration 3    240000         240000         2737.84        684.46
compress                      iteration 4    240000         240000         2705.39        676.35
compress                      iteration 5    240000         240000         2773.42        693.35
compress                      iteration 6    240000         240000         2668.66        667.16
compress                      iteration 7    240000         240000         2657.45        664.36
compress                      iteration 8    240000         240000         2643.21        660.80
compress                      iteration 9    240000         240000         2666.88        666.72
compress                      iteration 10   240000         240000         2668.32        667.08
compress                      iteration 11   240000         240000         2683.72        670.93
compress                      iteration 12   240000         240000         2686.89        671.72
compress                      iteration 13   240000         240000         2687.97        671.99
compress                      iteration 14   240000         240000         2698.49        674.62
compress                      iteration 15   240000         240000         2705.24        676.31
''')
Temurin = scoreParser('''
compress                      iteration 1    240000         240000         2715.53        678.88
compress                      iteration 2    240000         240000         2709.25        677.31
compress                      iteration 3    240000         240000         2704.85        676.21
compress                      iteration 4    240000         240000         2715.26        678.82
compress                      iteration 5    240000         240000         2709.50        677.38
compress                      iteration 6    240000         240000         2708.65        677.16
compress                      iteration 7    240000         240000         2718.06        679.51
compress                      iteration 8    240000         240000         2709.23        677.31
compress                      iteration 9    240000         240000         2792.29        698.07
compress                      iteration 10   240000         240000         2772.36        693.09
compress                      iteration 11   240000         240000         2792.81        698.20
compress                      iteration 12   240000         240000         2786.46        696.62
compress                      iteration 13   240000         240000         2790.96        697.74
compress                      iteration 14   240000         240000         2793.95        698.49
compress                      iteration 15   240000         240000         2795.06        698.76
''')
Bellsoft = scoreParser('''
compress                      iteration 1    240000         240000         2737.99        684.50
compress                      iteration 2    240000         240000         2729.82        682.45
compress                      iteration 3    240000         240000         2724.39        681.10
compress                      iteration 4    240000         240000         2715.64        678.91
compress                      iteration 5    240000         240000         2719.60        679.90
compress                      iteration 6    240000         240000         2720.41        680.10
compress                      iteration 7    240000         240000         2730.70        682.67
compress                      iteration 8    240000         240000         2690.86        672.72
compress                      iteration 9    240000         240000         2764.42        691.10
compress                      iteration 10   240000         240000         2757.07        689.27
compress                      iteration 11   240000         240000         2774.10        693.53
compress                      iteration 12   240000         240000         2756.02        689.00
compress                      iteration 13   240000         240000         2764.45        691.11
compress                      iteration 14   240000         240000         2764.59        691.15
compress                      iteration 15   240000         240000         2764.30        691.07
''')
Bisheng = scoreParser('''
compress                      iteration 1    240000         240000         2589.49        647.37
compress                      iteration 2    240000         240000         2622.27        655.57
compress                      iteration 3    240000         240000         2611.33        652.83
compress                      iteration 4    240000         240000         2605.32        651.33
compress                      iteration 5    240000         240000         2612.51        653.13
compress                      iteration 6    240000         240000         2649.15        662.29
compress                      iteration 7    240000         240000         2656.74        664.18
compress                      iteration 8    240000         240000         2653.27        663.32
compress                      iteration 9    240000         240000         2659.38        664.85
compress                      iteration 10   240000         240000         2657.91        664.48
compress                      iteration 11   240000         240000         2654.81        663.70
compress                      iteration 12   240000         240000         2653.45        663.36
compress                      iteration 13   240000         240000         2654.64        663.66
compress                      iteration 14   240000         240000         2656.29        664.07
compress                      iteration 15   240000         240000         2662.98        665.75
''')
Dragonwell = scoreParser('''
compress                      iteration 1    240000         240000         2688.59        672.15
compress                      iteration 2    240000         240000         2692.88        673.22
compress                      iteration 3    240000         240000         2720.37        680.09
compress                      iteration 4    240000         240000         2712.36        678.09
compress                      iteration 5    240000         240000         2733.19        683.30
compress                      iteration 6    240000         240000         2769.88        692.47
compress                      iteration 7    240000         240000         2780.51        695.13
compress                      iteration 8    240000         240000         2785.72        696.43
compress                      iteration 9    240000         240000         2788.66        697.17
compress                      iteration 10   240000         240000         2788.07        697.02
compress                      iteration 11   240000         240000         2785.60        696.40
compress                      iteration 12   240000         240000         2786.39        696.60
compress                      iteration 13   240000         240000         2789.81        697.45
compress                      iteration 14   240000         240000         2790.98        697.74
compress                      iteration 15   240000         240000         2784.83        696.21
''')
Kona = scoreParser('''      
compress                      iteration 1    240000         240000         2664.85        666.21         
compress                      iteration 2    240000         240000         2702.75        675.69         
compress                      iteration 3    240000         240000         2706.60        676.65         
compress                      iteration 4    240000         240000         2709.98        677.50         
compress                      iteration 5    240000         240000         2736.24        684.06         
compress                      iteration 6    240000         240000         2762.78        690.70         
compress                      iteration 7    240000         240000         2817.31        704.33         
compress                      iteration 8    240000         240000         2834.28        708.57         
compress                      iteration 9    240000         240000         2833.27        708.32         
compress                      iteration 10   240000         240000         2826.15        706.54         
compress                      iteration 11   240000         240000         2838.10        709.52         
compress                      iteration 12   240000         240000         2841.51        710.38         
compress                      iteration 13   240000         240000         2835.76        708.94         
compress                      iteration 14   240000         240000         2774.24        693.56         
compress                      iteration 15   240000         240000         2776.13        694.03   
''')

In [18]:
scores = {'Oracle': oracle, 'Temurin': Temurin,  'Liberica': Bellsoft,
          'DragonWell':  Dragonwell, 'Kona': Kona, 'Bisheng': Bisheng}
idx = ['Oracle', 'Temurin', 'Liberica', 'DragonWell', 'Kona', 'Bisheng']
df = pd.DataFrame(index=idx, columns=idx)

In [19]:
scores

{'Oracle': [678.15,
  677.28,
  684.46,
  676.35,
  693.35,
  667.16,
  664.36,
  660.8,
  666.72,
  667.08,
  670.93,
  671.72,
  671.99,
  674.62,
  676.31],
 'Temurin': [678.88,
  677.31,
  676.21,
  678.82,
  677.38,
  677.16,
  679.51,
  677.31,
  698.07,
  693.09,
  698.2,
  696.62,
  697.74,
  698.49,
  698.76],
 'Liberica': [684.5,
  682.45,
  681.1,
  678.91,
  679.9,
  680.1,
  682.67,
  672.72,
  691.1,
  689.27,
  693.53,
  689.0,
  691.11,
  691.15,
  691.07],
 'DragonWell': [672.15,
  673.22,
  680.09,
  678.09,
  683.3,
  692.47,
  695.13,
  696.43,
  697.17,
  697.02,
  696.4,
  696.6,
  697.45,
  697.74,
  696.21],
 'Kona': [666.21,
  675.69,
  676.65,
  677.5,
  684.06,
  690.7,
  704.33,
  708.57,
  708.32,
  706.54,
  709.52,
  710.38,
  708.94,
  693.56,
  694.03],
 'Bisheng': [647.37,
  655.57,
  652.83,
  651.33,
  653.13,
  662.29,
  664.18,
  663.32,
  664.85,
  664.48,
  663.7,
  663.36,
  663.66,
  664.07,
  665.75]}

In [21]:
ALPHA = 0.05
for i in range(6):
    for j in range(6):
        data1, data2 = scores[idx[i]], scores[idx[j]]
        p_value = ttest_ind(
            data1, data2, equal_var=levene(data1, data2).pvalue < ALPHA).pvalue
        # df.iloc[i, j] = levene(data1, data2).pvalue
        # df.iloc[i, j] = pvalue
        if p_value < ALPHA:
            df.iloc[i, j] = '*'
        else:
            df.iloc[i, j] = ''
df = df.where(df.isna(), df.T)
df

           Oracle Temurin Liberica DragonWell Kona Bisheng
Oracle                                           *
Temurin
Liberica                                         *
DragonWell
Kona            *                *                       *
Bisheng                                          *